# Binaries
*.exe
*.out

# Go workspace
go.work

# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/